
@{
    ViewBag.Title = "SecondPage";
}

<h2>SecondPage</h2>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            El valor en ViewBag es <p>@ViewBag.EmpleadoNombre</p>
        </li>
        <li class="list-group-item">
            El valor de ViewData es <p>@ViewData["EmpleadoNombreVD"]</p>
        </li>
        <li class="list-group-item">
            El valor de TempData es <p>@TempData["EmpleadoNombreTD"]</p>
        </li>
    </ul>
</div>