@model SecondWebApp.Models.EmployeeViewModel
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <div class="panel panel-body">
        <div class="panel panel-body">
            <div class="col-md-6">
                <img src="~/Content/Images/frog-1371919.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/frog-1371919.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="panel panel-body">
            <div class="col-md-3">
                <img src="~/Content/Images/fruit-in-the-country-3-1323660.jpg" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/fruit-in-the-country-3-1323660.jpg" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/fruit-in-the-country-3-1323660.jpg" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/fruit-in-the-country-3-1323660.jpg" class="img-responsive" />
            </div>
        </div>
    </div>


    <div class="panel panel-body">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Mensaje del director</h4>
                </div>
                <div class="panel-body">
                    <img src="~/Content/Images/frog-1371919.jpg" class="img-responsive" />
                    <p>Hola a todos les deseamos una feliz navidad y prospero año nuevo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <img src="~/Content/Images/about-us-abefwth237-1635372.jpg" class="img-responsive" />
            <hr />
            <img src="~/Content/Images/ferns-1634269.jpg" class="img-responsive" />
            
        </div>
    </div>